button{
    width: 150px;
    height: 40px;
    background-color: deeppink;
    text-transform: capitalize;
    border: unset;
}
div.wrapper{
    width: 90%;
    padding: 40px;
    box-sizing: border-box;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 10px;
}
div.wrapper>div.product{
    width: 45%;
    padding: 10px;
    background-color: violet;
    color: whitesmoke;
}

